# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
.env/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache/

# MyPy
.mypy_cache/
.dmypy.json

# Ruff
.ruff_cache/

# IDEs and editors
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Poetry
poetry.lock
